In [1]:
import re
import pandas as pd
import matplotlib.pyplot as plt

# Importing Data

In [2]:
labels = pd.read_csv("labels.csv",index_col=[0]).iloc[:,0]
data = pd.read_csv("data.csv",index_col = [0])
words = pd.read_csv("rulefiles/words.csv",index_col = [0]).iloc[:,0].apply(lambda x: x[1:-1].replace("'","").replace("","").split(","))
columns = pd.read_csv("rulefiles/columns.csv",index_col = [0]).iloc[:,0]
ancestors = pd.read_csv("rulefiles/ancestors.csv",index_col = [0]).iloc[:,0].apply(lambda x: x[1:-1].replace("'","").replace("","").split(","))
data["MORB_DESC"].fillna("", inplace = True)
data["MORB_DESC"] = data["MORB_DESC"].apply(lambda x: re.split(r'[,|;|,|/|+|]'+'| E ',x))

In [19]:
word_set = set()
for i in data["MORB_DESC"]:
    word_set.update(i)

# Creating binary dataset - no ancestrality respected

In [3]:
bin_data = pd.DataFrame(index = data.index,
                       columns = words.keys(),
                       data = 0)
for col in columns.index:
    col_name = columns[col]
    bin_data[col] = data[col_name]
    
for col in words.index:
    for word in words[col]:
        bin_data[col] += data['MORB_DESC'].apply(lambda x: 1 if word in x else 0)
    bin_data[col] = bin_data[col].apply(lambda x: 1 if x!=0 else 0)

bin_data

,obo.DOID_1273,obo.DOID_74,obo.DOID_14250,obo.DOID_409,obo.DOID_2841,obo.DOID_9351,obo.DOID_850,obo.DOID_2914,obo.DOID_11705,obo.DOID_9970,...,obo.DOID_10283,obo.DOID_0060072,obo.DOID_4029,obo.DOID_8534,obo.DOID_3021,obo.DOID_7148,obo.DOID_12140,obo.DOID_341,obo.DOID_9477,obo.DOID_1240
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,1,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,1,1,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,1,1,1,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3000,1,1,1,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3001,1,1,1,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3002,0,1,1,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3003,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

# Creating binary dataset - ancestrality respected

In [49]:
words_a = words
for descendant in ancestors.keys():
    for ancestor in ancestors[descendant]:
        if type(ancestor) == list:
            print(ancestor)
            words_a[ancestor] += words.to_dict().get(descendant,[])

bin_data_a = pd.DataFrame(index = data.index,
                       columns = words_a.keys(),
                       data = 0)
for col in columns.index:
    col_name = columns[col]
    bin_data_a[col] = data[col_name]
    
for col in words_a.index:
    for word in words_a[col]:
        bin_data_a[col] += data['MORB_DESC'].apply(lambda x: 1 if word in x else 0)
    bin_data_a[col] = bin_data_a[col].apply(lambda x: 1 if x!=0 else 0)
    
bin_data_a

,obo.DOID_1273,obo.DOID_74,obo.DOID_14250,obo.DOID_409,obo.DOID_2841,obo.DOID_9351,obo.DOID_850,obo.DOID_2914,obo.DOID_11705,obo.DOID_9970,...,obo.DOID_10283,obo.DOID_0060072,obo.DOID_4029,obo.DOID_8534,obo.DOID_3021,obo.DOID_7148,obo.DOID_12140,obo.DOID_341,obo.DOID_9477,obo.DOID_1240
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,1,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,1,1,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,1,1,1,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3000,1,1,1,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3001,1,1,1,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3002,0,1,1,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3003,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

# Analyzing difference when considering ancestrality

In [82]:
diffs = (bin_data_a - bin_data).sum()
diffs[diffs != 0].rename(labels)

lung disease       19
brain disease       6
benign neoplasm     1
dtype: int64

# Exporting FIles

In [84]:
bin_data.to_csv("binary_no_ancestrality.csv")
bin_data_a.to_csv("binary_with_ancestrality.csv")